<div>
  <h4>Login</h4>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <input matInput placeholder="Email" formControlName="username" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <span><a routerLink="/register" (click)="close()">Create an account</a></span>
      <br>
      <!-- require retype password -->
      <button mat-button type="submit">Login</button>
    </form>
  </div>
</div>
